node_modules
npm-debug.log
.npm
.git
.gitignore
README.md
.dockerignore
Dockerfile
docker-compose.yml
.env
.env.example
.env.docker.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
